@import "tailwindcss";

@theme {
  --color-primary-blue: #14213d; /* Azul profundo */
  --color-primary-green: #298d5c; /* Verde del logo */
  --color-gray-dark: #4a4a4a;
  --color-gray-light: #f5f5f5;
  --color-white: #ffffff;
  
  --font-sans: 'Inter', 'Montserrat', sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-gray-light text-gray-dark;
  }
}